        
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="ti-home"></i><span data-translate="DASHBOARD"></span> </a></li>
        <li>
            <a href="#/Activity"><i class="ti-bar-chart"></i><span data-translate="ACTIVITY"></span></a>
            <ul>
                <li><a href="#/ui/transaction-history"><i class="ti-angle-right"></i><span data-translate="TRANSACTION_HISTORY"></span></a></li>
                <li><a href="#/ui/logs"><i class="ti-angle-right"></i><span data-translate="LOGS"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/myaccount"><i class="ti-user"></i><span data-translate="MY_ACCOUNT"></span></a>
            <ul>
                <li><a href="#/ui/manage-account"><i class="ti-angle-right"></i><span data-translate="MANAGE_ACCOUNT"></span></a></li>                   
                <li><a href="#/ui/invoice"><i class="ti-angle-right"></i><span data-translate="INVOICE"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/table"><i class="ti-help-alt"></i><span data-translate="SUPPORT"></span></a>
            <ul>                
                <li><a href="#/table/help-docs"><i class="ti-angle-right"></i><span data-translate="HELP_DOCS"></span></a></li>
                <li><a href="#/table/contact-us"><i class="ti-angle-right"></i><span data-translate="CONTACT_US"></span></a></li>
            </ul>
        </li>        
    </ul>
</div>